@{

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dutch Treat </title>
</head>
<body>
    <h1>DutchTreat</h1>
    This is going to be a web site where we can buy dutch artists merchandise.
    <br />
    <div><button itemid="myButton" class="btn bg-success">Log In</button></div>
    
</body>
</html>